/* Add all your styles here */
   .section-header h2{ padding-bottom: 45px; 
     font-style: normal; font-weight: bold;
      font-size: 36px; line-height: 54px;
       color: #413960;}
       
       section.header-section { 
       background: #F0FFF0;}
       .banner-section{ 
       background: #F0FFF0;}
       
          .btn-primary{ background: #21B573; 
       border-radius: 33px; border: none;
        padding: 12px 36px;
         font-family: 'Roboto', sans-serif;
          font-style: normal; 
          font-weight: normal; 
          font-size: 16px; 
          line-height: 19px;}
          .btn-primary:hover,
           .btn-primary:focus { 
           background-color: #34b67b; 
           border-color: none; 
           box-shadow: none;}
           .btn-primary:not(:disabled):not(.disabled):active{ 
           background-color: #21B573; 
           border: none;} 
          
section{ padding-bottom: 100px;}footer{ text-align: center;}p{ color: dimgray;}a{ /* text-decoration: none; */ color: orange;}a:hover{ text-decoration: none;}#categories h1{ padding-bottom: 8px; border-bottom: 5px solid orange; border-radius: 5px; margin-bottom: 100px;}.navbar-nav{ float: right;} .logo{ height: 50px;}
.carousel-item{
    width: 100%;
    height: ;
}
     } .card-body, .card-footer{ margin: auto; text-align: center;}.card, .card-footer{ border: none; background-color: white;}.card{ box-shadow: -10px 5px 5px lightcyan; border: 1px solid lightcyan; border-radius: 10px; }.img{ box-shadow: -10px 5px 5px lightcyan; border-radius: 10px; border: 1px solid lightcyan; width: 100px; padding: 10px; }